.dd-zone {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    height: 100%;
}

.dd-element {
    font-size: 18px;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 15px 15px;
    cursor: pointer;
    color: #5b5b73;
    border: 1px solid #88B6E0;

}

.dd-element .body {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 0;
}

.dd-zone-div{
    border-bottom: 1px solid;
    height: 20px;
}

.dd-element-div{
    height: 10px;
    font-size: 15px;
}

.description p{
    margin-top: 10px;
}